body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

body * {
    box-sizing: border-box;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login>h1 {
    font-size: 2.5vw;
    color: #36c0fc;
}

.left-login-image {
    width: 30vw;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    margin-left: 5vw;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
    transition: all 0.3s ease;
    /* Adicionado para suavizar mudanças */
}

.card-login>h1 {
    color: #36c0fc;
    font-weight: 800;
    margin: 0;
}

.register>p{
   color: #18dafc;
}
.textField {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0;
}

.textField>input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
    transition: all 0.3s ease;
    /* Suavizar a transição */
}

.textField>label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textField>input::placeholder {
    color: #f0ffff94;
}

/* Estilo para foco nos inputs */
.textField>input:focus {
    border: 2px solid #36c0fc;
    background: #403a55;
}

/* Botões */
.btn-login {
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(14, 14, 26);
    color: rgb(234, 234, 234);
    font-weight: 700;
    transition: 0.6s;
    box-shadow: 0px 0px 60px #1f4c65;
    margin-left: 40px;
    margin-top: 10px;
  }
  
  .btn-login:active {
    scale: 0.92;
  }
  
  .btn-login:hover {
    background: rgb(2,29,78);
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    color: rgb(4, 4, 38);
  }


/* Botão de registro */
.btn-register {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
}

.btn-register::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: rgb(193, 163, 98);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.btn-register:hover::before {
    scale: 3;
}

.btn-register:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98, 0.4);
}

.btn-register:active {
    scale: 1;
}

/* Responsividade */
@media only screen and (max-width: 950px) {
    .card-login {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .main-login {
        flex-direction: column;
        align-items: center;
        /* Centralizar no mobile */
    }

    .left-login>h1 {
        display: none;
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .right-login {
        width: 100%;
        height: auto;
    }

    .left-login-image {
        width: 50vw;
    }

    .card-login {
        width: 90%;
    }

    .textField {
        margin: 5px 0;
        /* Reduzindo margem no mobile */
    }

    .btn-login,
    .btn-register {
        font-size: 16px;
        /* Ajustando tamanho do texto */
    }

    .register {
        text-align: center;
        /* Centralizar no mobile */
    }
}